* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1,
h2 {
    color: #121010;
}
h3 {
    color: #999;
    text-align: center;
}

table {
    width: 100%; /* Sesuaikan dengan lebar kontainer */
    border-collapse: collapse;
    margin-top: 20px; /* Menambahkan jarak dari atas */
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px; /* Menambahkan padding */
    text-align: center;
    font-size: 14px;
    color: rgb(7, 5, 5);
    font-family: 'poppins', sans-serif;
}
th {
    background-color: #aaa5a5;
    color: white;
}
/* Efek baris yang bergantian */
tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .edit-btn, .delete-btn {
    padding: 5px 10px;
    cursor: pointer;
  }

  .edit-btn {
    border: none;
  }

  .delete-btn {
    
    border: none;
  }
.btn {
    position: absolute;
    top: 10px; /* Jarak dari atas */
    right: 10px; /* Jarak dari kanan */
    padding: 10px 20px;
    background-color: #CDE8E5;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: large;
}
.btn:hover {
    background-color: #CDE8E5; /* Warna background saat hover */
    transform: scale(1.05);
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
.side-menu {
    position: fixed;
    background: #20b2aa;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
}
.side-menu li {
    font-size: 20px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li:hover {
    background:lightslategray;
    color: black;
}
.side-menu li a {
    color: white; /* Menetapkan warna putih pada teks tautan */
    text-decoration: none; /* Menghilangkan garis bawah tautan */
}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #CDE8E5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.container .content {
    display: flex;
    justify-content: center; /* Menyelaraskan konten ke tengah secara horizontal */
    align-items: flex-start; /* Menyelaraskan konten ke awal secara vertikal */
    margin-top: 30vh; /* Menambahkan jarak dari header */
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content .card-tabel {
    background-color: #9f9a9a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%; /* Ubah sesuai kebutuhan */
    max-width: 800px; /* Ubah sesuai kebutuhan */
    margin: 20px 0; /* Menambahkan jarak vertikal */
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.search-bar button {
    padding: 8px 10px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color:black;
    cursor: pointer;
}

.add-btn {
    padding: 8px 10px;
    background-color: #fbfcfb;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

