.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --alto: #d9d9d9;
  --azure-radiance: #0075ff;
  --black: #000000;
  --black-2: #000000bf;
  --eucalyptus: #207b5a;
  --ocean-green-pearl: #4bb59b;
  --ocean-green-pearl-2: #4bb49b36;
  --ocean-green-pearl-3: #4bb59b36;
  --red: #ff0000ed;
  --romance: #fffcfc;
  --white: #ffffff;
 
  --font-size-l: 19px;
  --font-size-m: 15px;
  --font-size-xl: 24px;
  --font-size-xxl: 27px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 31px;
  --font-size-xxxxxl: 60px;
 
  --font-family-abeezee: "ABeeZee", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-times_new_roman-regular: "Times New Roman-Regular", Helvetica;
}
.inter-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.timesnewroman-regular-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-times_new_roman-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.timesnewroman-regular-normal-white-60px {
  color: var(--white);
  font-family: var(--font-family-times_new_roman-regular);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-31px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-ocean-green-pearl-15px {
  color: var(--ocean-green-pearl);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

:root {
}


.admin {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.x {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  width: 132px;
}
/* screen - halaman-daftar */

.halaman-daftar {
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.halaman-daftar .rectangle-1-gv42Aw {
  background-color: var(--ocean-green-pearl);
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 487px;
}

.halaman-daftar .title-gv42Aw {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 432px;
  width: 407px;
}

.halaman-daftar .daftar-gv42Aw {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
  left: 682px;
  top: 286px;
  width: 551px;
}

.halaman-daftar .rectangle-2-gv42Aw {
  background-color: var(--ocean-green-pearl);
  height: 500px;
  left: 675px;
  position: absolute;
  top: 391px;
  width: 558px;
}

.halaman-daftar .nama-gv42Aw {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 416px;
  width: auto;
}

.halaman-daftar .email-gv42Aw {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 509px;
  width: auto;
}

.halaman-daftar .rectangle-3-gv42Aw {
  background-color: var(--romance);
  height: 48px;
  left: 720px;
  position: absolute;
  top: 456px;
  width: 470px;
  display: flex;
  align-items: center; /* Center align the content vertically */
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.input-nama {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}


.halaman-daftar .rectangle-4-gv42Aw {
  background-color: var(--romance);
  height: 48px;
  left: 719px;
  position: absolute;
  top: 541px;
  width: 470px;
  display: flex;
  align-items: center; /* Center align the content vertically */
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.input-email {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}

.halaman-daftar .masuk-gv42Aw {
  top: 607px;
}

.halaman-daftar .password-gv42Aw {
  pointer-events: auto;
  user-select: text;
  cursor: text;
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 602px;
  width: auto;
}

.halaman-daftar .konfirmasi-password-gv42Aw {
  background-color: transparent;
  height: auto;
  left: 719px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 689px;
  width: auto;
}

.halaman-daftar .rectangle-5-gv42Aw {
    background-color: var(--romance);
    height: 48px;
    left: 720px;
    position: absolute;
    top: 638px;
    width: 470px;
    display: flex;
    align-items: center; /* Center align the content vertically */
    padding: 0 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.input-password {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}
.halaman-daftar .rectangle-6-gv42Aw {
  background-color: var(--romance);
  height: 48px;
  left: 719px;
  position: absolute;
  top: 723px;
  width: 470px;
  display: flex;
  align-items: center; /* Center align the content vertically */
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.input-konfirmasi-password {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}

.halaman-daftar .masuk-XTSdx5 {
  top: 789px;
}

.halaman-daftar .rectangle-104-gv42Aw {
  background-color: var(--white);
  cursor: pointer;
  height: 26px;
  left: 1106px;
  position: absolute;
  top: 790px;
  width: 84px;
}

.halaman-daftar .daftar-XTSdx5 {
  left: 1125px;
  top: 793px;
  white-space: nowrap;
  width: auto;
}

.halaman-daftar .sudah-punya-akun-login-gv42Aw {
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 719px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 789px;
  white-space: nowrap;
  width: auto;
}

.halaman-daftar .span0-K0xm43 {
  font-style: normal;
}

.halaman-daftar .span1-K0xm43 {
  color: var(--azure-radiance);
  font-style: normal;
}

.halaman-daftar .daftar {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
}

.halaman-daftar .masuk {
  background-color: transparent;
  height: auto;
  left: 1124px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
