
@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --alto: #d9d9d9;
  --azure-radiance: #0075ff;
  --black: #000000;
  --black-2: #000000bf;
  --eucalyptus: #207b5a;
  --ocean-green-pearl: #4bb59b;
  --ocean-green-pearl-2: #4bb49b36;
  --ocean-green-pearl-3: #4bb59b36;
  --red: #ff0000ed;
  --romance: #fffcfc;
  --white: #ffffff;
 
  --font-size-l: 19px;
  --font-size-m: 15px;
  --font-size-xl: 24px;
  --font-size-xxl: 27px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 31px;
  --font-size-xxxxxl: 60px;
 
  --font-family-abeezee: "ABeeZee", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-times_new_roman-regular: "Times New Roman-Regular", Helvetica;
}
.inter-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.timesnewroman-regular-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-times_new_roman-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.timesnewroman-regular-normal-white-60px {
  color: var(--white);
  font-family: var(--font-family-times_new_roman-regular);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-31px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-ocean-green-pearl-15px {
  color: var(--ocean-green-pearl);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

:root {
}


.admin {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.x {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  width: 132px;
}
/* screen - halaman-login */

.halaman-login {
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  overflow-x: hidden;
  position:relative;
  width: 1430px;
}

.halaman-login .rectangle-1-yT2OuP {
  background-color: var(--ocean-green-pearl);
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 487px;
}

.halaman-login .title-yT2OuP {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 432px;
  width: 407px;
}

.halaman-login .sistem-perpustakaan-online-yT2OuP {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 682px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 286px;
  width: 551px;
}

.halaman-login .rectangle-2-yT2OuP {
  background-color: var(--ocean-green-pearl);
  height: 299px;
  left: 675px;
  position: absolute;
  top: 391px;
  width: 558px;
}

.halaman-login .username-yT2OuP {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 417px;
  width: auto;
}

.halaman-login .password-yT2OuP {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 509px;
  width: auto;
}

.halaman-login .lupa-password-klik-disini-yT2OuP {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 874px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 653px;
  white-space: nowrap;
  width: auto;
}

.halaman-login .span0-f91n9Q {
  font-style: normal;
}

.halaman-login .span1-f91n9Q {
  color: #1963d2;
  font-style: normal;
}

.halaman-login .daftar-yT2OuP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 719px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 602px;
  white-space: nowrap;
  width: auto;
}

.halaman-login .rectangle-3-yT2OuP {
  background-color: var(--romance);
  height: 48px;
  left: 720px;
  position: absolute;
  top: 456px;
  width: 470px;
  display: flex;
  align-items: center; /* Center align the content vertically */
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.input-username {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}

.halaman-login .rectangle-4-yT2OuP {
  background-color: var(--romance);
  height: 48px;
  left: 719px;
  position: absolute;
  top: 541px;
  width: 470px;
  display: flex;
  align-items: center; /* Center align the content vertically */
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.input-password {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent; /* Ensures the input field inherits the background of the parent */
    font-size: 24px; /* Match the font size if needed */
    padding: 0;
}

.halaman-login .rectangle-104-yT2OuP {
  background-color: var(--white);
  cursor: pointer;
  height: 26px;
  left: 1106px;
  position: absolute;
  top: 604px;
  width: 84px;
}

.halaman-login .masuk-yT2OuP {
  background-color: transparent;
  height: auto;
  left: 1124px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 607px;
  white-space: nowrap;
  width: auto;
}

